<header>
    <div class="hd-img">
        <img src="../../../assets/currency.png">
    </div>
    <nav [ngClass]="{ 'show-menu': menuVisible }">
        <ul>
            <li><a>Home</a></li>
            <li><a>Convertidor</a></li>
            <li><a>Monedas</a></li>
            <li><a>Herramientas</a></li>
            <li><a>Recursos</a></li>
        </ul>
    </nav>
    <div class="hd-img-menu" (click)="toggleMenu($event)" #menuIcon>
        <img src="../../../assets/menu.png">
    </div>
</header>
