<footer>
    <div class="hr-1">
      <hr />
    </div>
    <div class="div-ul-img">
      <ul>
        <li>
          <a class="a-redes"><img src="../../../assets/facebook.png" /></a>
        </li>
        <li>
          <a class="a-redes"><img src="../../../assets/instagram.png" /></a>
        </li>
        <li>
          <a class="a-redes"><img src="../../../assets/linkedin.png" /></a>
        </li>
        <li>
          <a class="a-redes"><img src="../../../assets/twitter.png" /></a>
        </li>
        <li>
          <a class="a-redes"><img src="../../../assets/youtube.png" /></a>
        </li>
      </ul>
      <div class="div-derechos">
        <p>Copyright © 2024 | North Computer | Jose David Quintero</p>
      </div>
    </div>
    <div class="hr-2">
      <hr />
    </div>
  </footer>