.container {
    margin: 20px;
    margin-block-end: 168px;
    padding: 10px;
  }
  
  .table {
    inline-size: 100%;
    border-collapse: collapse;
    background: #D5DBDB;
    overflow-x: auto;
  }
  
  .table th, .table td {
    border: 1px solid #B3B6B7;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: start;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
    flex-wrap: wrap;
  }
  
  .pagination button {
    background-color: #52be80;
    border: none;
    color: #000;
    padding: 10px 20px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: #186A3B;
  }

  /* Estilos responsive */
@media (max-width: 768px) {
  .table th, .table td {
    padding: 12px 8px;
  }

  .pagination button {
    padding: 8px 16px;
  }
}

@media (max-width: 576px) {
  .container {
    margin: 10px;
    padding: 5px;
    margin-block-end: 200px;
  }

  .table th, .table td {
    padding: 10px 6px;
    font-size: 14px;
  }

  .pagination button {
    padding: 6px 12px;
    font-size: 12px;
  }
}