.container {
    margin: 20px;
  }
  
  .table {
    inline-size: 100%;
    border-collapse: collapse;
    background: #D5DBDB;
  }
  
  .table th, .table td {
    border: 1px solid #B3B6B7;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: start;
  }
  