/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
app-home{
    display: flex;
    flex-direction: column;
}
app-navbar{
    order: 1;
}
app-converter{
    order: 2;
    margin-block-start: 150px;

}