.div-principal{
  display: flex;
  flex-direction: column;
}
.div-convert {
  background: #EAFAF1;
  display: flex;
  justify-content: space-around;
  block-size: 140px;
  flex-wrap: wrap; /* Agregado para permitir que los elementos se envuelvan en pantallas más pequeñas */
  padding: 10px;

}
.dd-cantidad {
  display: flex;
  flex-direction: column;
  inline-size: 20%;
}
.dd-cantidad-1{
  display: flex;
  flex-direction: column;
  inline-size: 10%;
}
.dd-cantidad-4{
  display: flex;
  flex-direction: column;
  inline-size: 20%;
}

.div-label {
  font-size: 16px;
  font-weight: 600;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.input-cantidad {
  background-color: #fff;
  background-image: none;
  block-size: 34px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px #00000013;
  color: #555;
  display: block;
  font-size: 14px;
  inline-size: 100%;
  line-height: 1.42857143;
  padding: 6px 12px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.input-divisa {
  background-color: #fff;
  background-image: none;
  block-size: 50px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px #00000013;
  color: #555;
  display: block;
  font-size: 14px;
  inline-size: 100%;
  line-height: 1.42857143;
  padding: 6px 12px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.d-button {
  /*align-items: center;
  display: flex;
  inline-size: 10%;
  justify-content: center;
  padding: 0px;*/
  margin-block-start: 12px;
    display: flex;
    align-self: flex-start;
}
.button-enchange {
  background: #52be80;
  block-size: 31px;
  border: #fff;
  inline-size: 60%;
  margin-block-start: 20px;
}
.button-convert{
  margin-block-start: 38px;
  background: #117a65;
  color: #fff;
  border: #fff;
  block-size: 33px;
  inline-size: 188px;
}
.button-convert:hover{
  cursor: pointer;
}
.p-resultado{
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 24px;
}

.dd-cantidad, .dd-cantidad-1, .dd-cantidad-4 {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}
.div-p-result{
  background: #F0F3F4;
  display: flex;
  justify-content: center;
}

/* Ajustes para tamaños de pantalla medianos (tabletas) */
@media (min-width: 768px) {
  .dd-cantidad {
    inline-size: 40%;
  }

  .dd-cantidad-1 {
    inline-size: 20%;
  }

  .dd-cantidad-4 {
    inline-size: 40%;
  }
}

/* Ajustes para tamaños de pantalla grandes (escritorios) */
@media (min-width: 1024px) {
  .dd-cantidad {
    inline-size: 20%;
  }

  .dd-cantidad-1 {
    inline-size: 10%;
  }

  .dd-cantidad-4 {
    inline-size: 20%;
  }
}

.div-label {
  font-size: 16px;
  font-weight: 600;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.input-cantidad {
  background-color: #fff;
  background-image: none;
  block-size: 34px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px #00000013;
  color: #555;
  display: block;
  font-size: 14px;
  inline-size: 94%;
  line-height: 1.42857143;
  padding: 6px 12px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-divisa {
  background-color: #fff;
  background-image: none;
  block-size: 34px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px #00000013;
  color: #555;
  display: block;
  font-size: 14px;
  inline-size: 100%;
  line-height: 1.42857143;
  padding: 6px 12px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* Ajustes para tamaños de pantalla más pequeños (móviles) */
.input-divisa {
  block-size: 50px;
}

.d-button {
  align-items: center;
  display: flex;
  inline-size: 100%; /* Ajuste para pantallas pequeñas */
  justify-content: center;
  padding: 0px;
}

/* Ajustes para tamaños de pantalla grandes (escritorios) */
@media (min-width: 1024px) {
  .d-button {
    inline-size: 10%;
  }
}

.button-enchange {
  background: #52be80;
  block-size: 31px;
  border: #fff;
  inline-size: 100%; /* Ajuste para pantallas pequeñas */
  margin-block-start: 20px;
}

/* Ajustes para tamaños de pantalla grandes (escritorios) */
@media (min-width: 1024px) {
  .button-enchange {
    inline-size: 60%;
  }
}

.button-convert {
  margin-block-start: 38px;
  background: #117a65;
  color: #fff;
  border: #fff;
  block-size: 33px;
  inline-size: 100%; /* Ajuste para pantallas pequeñas */
}

/* Ajustes para tamaños de pantalla grandes (escritorios) */
@media (min-width: 1024px) {
  .button-convert {
    inline-size: 188px;
  }
}

.p-resultado {
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 24px;
}
